/* Universal */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #EEE;
}

h1, h2 {
    font-weight: 400px;
    line-height: 1.4;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.navbar {
    background-color: rgb(45, 47, 90);
    color: #EEE;
    height: 70px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

/* Flex settings*/
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}

.navbar li a:hover {
    border-bottom: 2px #EEE solid;
}

.navbar .flex {
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Showcase */
.showcase {
    background-image: url(../img/Screenshot_2021-04-14_21-13-04.png);
    background-position: 0 -30vh;
    background-repeat: no-repeat;
    height: 600px;
}

.showcase-text {
    color:#EEE;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20 0;
}