body {
    font: 15px/1.5 Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #EEE;
}

/*Global*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/*Header*/
header {
    background:rgb(45, 47, 90);
    color: #EEE;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: rgb(81, 84, 139) 3px solid;
}

header a {
    color: #EEE;
    text-decoration: none;
    font-size: 17px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-bottom: 5px;
}

header .current a {
    color: rgb(119, 94, 151)
}

header a:hover {
    color:rgb(119, 94, 151);
    font-weight: bold;
}

/*Welcome Section*/
.welcome-section {
    text-align: center;
    width: 50%;
    padding: 20px;
    border: #acacac solid 1px;
    margin: 10px 0 5px 320px;
    background-color: #acacac;
}

/*Boxes*/
#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width:30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img {
    width: 90px;
}

/*footer*/
/*The footer won't stay at the bottom of the screen at the home page,
about me page and contact me page.*/
footer {
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(93, 94, 110);
    text-align: center;
    height: 35px;
    width: 97.9%;
}

/*Blog Posts*/
aside#sidebar {
    float: right;
}

#sidebar ul {
    list-style: none;
}

article {
    float: left;
    width: 50%;
    padding: 20px;
    border: #acacac solid 1px;
    margin: 10px 0 5px 0;
    background-color: #acacac;
}

article h2 p {
    color:#EEE
}

/*About Me*/
/*images*/
.about-me {
    text-align: center;
    width: 97.9%;
    padding: 20px;
    border: #acacac solid 1px;
    margin: 10px 0 5px 0;
    background-color: #acacac;
}

.imgtwovettes {
    width:300px;
}

.imgcomputer-code {
    width: 300px;
    height: 169px;
}

.n24hf1 {
    width: 300px;
}

.cmp-code {
    width: 300px;
    height: 169px;
}

figure {
    float:left
}

/*Contact Me*/
#contact-me {
    margin-left: 655px;
    width: 97.9%;
    padding: 20px;
    border: #acacac solid 1px;
    margin: 0;
    background-color: #acacac;
}

#contact-me-p {
    margin-left: 330px;
    width: 97.9%;
    padding: 20px;
    border: #acacac solid 1px;
    margin: 0;
    background-color: #acacac;
}

.contact-me {
    text-align: center;
}

.contact-me-p {
    text-align: center;
}

.git-contact {
    margin-left: 200px;
}

.mastodon-contact {
    margin-left: 110px;
}

.steam-contact {
    margin-right: 40px;
}