body {
    background-color:#EEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

header {
    background-color: rgb(45, 47, 90);
    padding-top: 20px;
    padding-bottom: 30px;
}

header h1 {
    text-align: center;
    color: #EEE;
}

section {
    float: left;
    width: 70%
}

section h6 {
    margin: 0 3px;
}

img {
    margin-top: 5px;
}

aside {
    float: right;
    line-height: 2;
}

a {
    text-decoration: none;
}

footer {
    position: fixed;
    clear:both;
    background-color:rgb(67, 66, 70);
    padding: 30px;
    bottom: 0;
    width: 100%
}

h4 {
    text-align: center;
    font-size: 12px;
}

.container {
    width: 85%;
    margin: 0px auto;
}

.who-am-I {
    font-size: 18px;
}

.imgtwovettes {
    width: 400px;
}

.imgcomputer-code {
    width: 400px;
    height:225px;
}